:root {
	--mainColor: #09BB07; /*主题色-绿色*/
	--black:#353535; /*主题黑色*/
	--gray:#888888;  /*灰色*/
	--grayBlue:#576b95; /*灰蓝*/
	--red:#e64340; /*红色*/
}
.dn {
	display: none;
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:0.3rem;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont:before, .iconfont:before{
	font-family: 'iconfont' !important;
}
.margin-top20 {
	margin-top: 0.36rem;
}
.clear:after{
	display: block; content:" "; height: 0; clear: both;
}
.btn-comm {
	background: var(--mainColor);
	background: #09BB07;
	color: #fff;
	width: 90%;
	margin: 0 auto;
	border-radius: 0.1rem;
}

.radius-img img {
	border-radius:50%;
}
/*重置样式*/
.btn-primary{
	background-color:var(--mainColor);
}
.cell-select{ color:var(--black); }
input[readonly='readonly'],select[readonly='readonly']{
	color:var(--gray);
}
/*自定义的单选按钮*/
.cell-radio{height: 1rem; line-height: 1rem;}
.cell-radio i.icon{position: relative; display: inline-block; width: 0.35rem; height:0.35rem; box-sizing: border-box; border:1px solid #ccc; border-radius: 50%; vertical-align: middle; text-align: center; margin-right:0.2rem;}
.cell-radio i.icon:before{display: inline-block; content: ""; width:0.2rem; height: 0.2rem; border-radius: 50%;  vertical-align: middle; position:absolute; top:50%; left:50%; margin-top:-0.1rem; margin-left:-0.1rem; border:none;}
.cell-radio  input:checked+i.icon{ border-color:#4CD864;}
.cell-radio  input:checked+i.icon:before{ background-color:#4CD864;}

/*UI组件弹窗样式统一修改*/
.m-confirm{border-radius: 0.1rem;}
.confirm-hd{padding-top:0.68rem;}
.confirm-hd,
.confirm-bd{ text-align: center; font-size:0.32rem;}
.confirm-bd{margin-top:0.35rem; margin-bottom: 0.68rem;}
.confirm-hd .confirm-title{ font-size: 0.36rem; color: #353535;}
.confirm-ft{line-height: 0.88rem;font-size:0.36rem;}
/*公共自定义提示窗*/
.m-tip {
	width: 80%;
	min-height: 2.9rem;
	background: #fff;
	padding: 0.81rem 0; position:relative;
}

/* 新增按钮（带加号） */
.btn-add {
	margin:0 0.36rem; position: relative; text-align: center;
}
.btn-add:before {
	background: url(../images/desk_add.png?__inline) no-repeat; background-size:contain; display: inline-block; content: " "; width:0.35rem; height: 0.35rem;  position: relative;top: 0.04rem;right: 0.2rem;
}

/* 无数据记录提示 */
.no-data {	margin: 40% auto;}
.no-data div {	display: flex;	justify-content: center;}
.no-data div:nth-child(2) {	color: #a7a7a7;	font-size: 0.32rem; margin-top:20px;}

