body{margin:0;height:100%;padding:0;font-family:Microsoft Yahei;}
.otw_background{z-index:-1;}
.otw_background_img{position:absolute;z-index:-1;}
.main_container{top:10%;width:100%;position:absolute;}
.otw_main{margin:0 auto;width:750px;position:relative;}
.main_head{position:relative;margin-bottom:100px;}
.logo{height:50px;}
.logo_img{width:70px;height:50px;float:left;margin-right:10px;}
.logo_img img{width:70px;height:50px;}
.logo_text{float:left;}
.logo_ZN{width:140px;height:25px;font-family:楷体;font-weight: bold;font-size:24px;}
.logo_EN{width:140px;height:25px;font-family:Segoe Script;font-weight: bold;}
.main_left{float:left;width:450px;overflow:hidden;background:url('/static/images/8081.jpg') -100px 0;}
.main_right{right:0;width:265px;position:absolute;}
.form_item{margin-bottom:19px;position:relative;}
.ui_placeholder{top:0px;left:2px;height:18px;line-height:18px;color:#979797;padding:12px 10px;font-size:16px;position:absolute;cursor:text;}
.ui_textinput{width:243px;height:18px;color:#333;line-height:18px;overflow:hidden;padding:12px 10px;font-family:Arial;font-size:16px;vertical-align:top;border:1px solid #cbcbcb;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(255, 255, 255);}
.ui_textinput:focus{border-color:#56bdf3;box-shadow:0px 0px 5px rgba(84,189,242,0.6), inset 0px 1px 3px rgba(0,0,0,0.2);}
.ui_btn{background-color:transparent;overflow:hidden;border:1px solid #ffffff;cursor: pointer;padding:10px 32px;font-size:24px;color: #56bdf3;border-radius: 5px;}
.ui_login{width:118px;height:41px;background:url('/static/images/qzonelogin.png') 0 0;}
.option_item{overflow:hidden;}
.option_item a{text-decoration:none;color:#4b4a4a;margin-right:10px;float:left;}
.option_item span{float:left;color:#888;margin-right:10px;}

.friends-main{margin:50px auto;}
.friends-main .friend-content{width:30%;float:left;margin-left:30px;}
.friend-content .friend-head{height:270px;width:100%;position:relative; }
.friend-head img{width:100%;height:100%;}
.friend-content a.thumbnail{ position: absolute;width: 100%;height: 100%;display: block;float: left; top: 0; left: 0; z-index: 9999;cursor: pointer;}

.motto{width:100%;height:100%;background-color:#0087F7;position:absolute;filter: alpha(opacity=80);opacity: 0.80;color:#fff;}
.motto p{height:32px;width:100%;line-height:32px;position:relative;top:50%;text-align:center;margin-top:-16px;font-family:楷体;font-size:18px;font-weight:bold:}
.friend-content .name{color:#56bdf3;margin:20px;text-align:left;font-weight:bold:font-size:18px;font-family:Microsoft Yahei;font-weight:bold:}
.friend-content .describe{color:#56bdf3;font-weight:300;font-size:16;text-indent:32px;font-family:'Titillium Web', sans-serif;}

.face-content{height:0px;z-index:1;position: absolute;left: 0px;top:0px;}
.face-content label,.face-content span{color: #cbcbcb;}
.face-content label{margin: 10px 10px 0 10px;}

.webuploader-container {
	position: relative;display: inline-block;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 7px 15px;
    display: inline-block;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "宋体";
    border-style: solid;
    border-width: 1px;
	overflow: hidden;
	color: #fff;
  	border-color:#02c1b3;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#02c1b3,endColorstr=#00d0c1,GradientType=0);
  	width: 100%;
	height: 100%;
	border-width:0;
	background: none;
	background-image:none;
	filter: none;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}