<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>ON THE WAY -- ADD</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" href='/static/css/add.css' rel="stylesheet" ></link>
	<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
	<script type='text/javascript' src="/static/js/webuploader-0.1.5/webuploader.nolog.min.js"></script>
	<script type='text/javascript' src='/static/js/jquery.flip.min.js'></script>
	<script type='text/javascript' src='/static/js/add.js'></script>
</head>
<body>
	<div class='otw_background' >
		<img src='/static/images/add1.jpg' alt='' class='otw_background_img' />
	</div>
	<div class='main_container'>
		<div class='otw_main'>
			<div class='main_head'>
			<!--  
				<div class='logo'>
					<div class='logo_img'><img src='/static/images/800.jpg' /></div>
					<div class='logo_text'>
						<div class='logo_ZN'>在路上</div>
						<div class='logo_EN'>ON THE WAY</div>
					</div>
				</div>
				-->
			</div>
			<div class='main_left'>
				<div class='friend-content'>
					<div class='friend-head'>
						<div class='motto' >
							<p></p>
						</div>
						<a class="thumbnail" id="filePicker"></a>
					</div>
					<div class='name'></div>
					<div class='describe'></div>
				</div>
			</div>
			<div class='main_right'>
				<form name='friend-form'>
				<input type='hidden' name='showImg' />
				<div class='form_item'>
					<label class='ui_placeholder' for='name' >姓名</label>
					<input class='ui_textinput' type='text' id='name' name='name' />
				</div>
				<div class='form_item'>
					<label class='ui_placeholder' for='describe' >简介</label>
					<input class='ui_textinput' type='text' id='describe' name='describe' />
				</div>
				<div class='form_item'>
					<label class='ui_placeholder' for='motto' >手机号</label>
					<input class='ui_textinput' type='text' id='motto'  name='motto' />
				</div>
				<div class='form_item'>
					<button class='ui_btn' type='button'>提交</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>