<!DOCTYPE html>
<html>
<head>
	<title>ON THE WAY -- FACE</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="/static/css/face.css" />
	<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
	<script type='text/javascript' src='/static/js/wechat/jweixin-1.2.0.js'></script>
	<script type='text/javascript' src='/static/js/tsh.flexible.js'></script>
	<script type='text/javascript' src='/static/js/mustache.min.js'></script>
	<script type='text/javascript' src='/static/js/face.js'></script>
</head>
<body>
	<section class="g-flexview">
		<div class="g-scrollview">
			<img src='http://cn.bing.com/az/hprichbg/rb/TartumaaEstonia_ZH-CN13968964399_1920x1080.jpg' />
		</div>
		<footer class="m-tabbar">
			<a href="javascript:;" class="btn-desk btn-block btn-primary">打开相机</a>
		</footer>
	</section>
</body>
</html>
<script type='text/html' id='face-detect-template'>
<div class = 'face-content'>
	<p class = 'item'><label>年龄:</label><span>{{age}}</span></p>
	<p class = 'item'><label>性别:</label><span>{{gender}}</span></p>
	<p class = 'item'><label>情绪:</label><span>{{emotion}}</span></p>
</div>
</script>