<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>ON THE WAY -- LOGIN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" href='/static/css/login.css' rel="stylesheet" ></link>
	<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
	<script type='text/javascript' src='/static/js/login.js'></script>
</head>
<body>
	<div class='otw_background' >
		<img src='/static/images/809.jpg' alt='' class='otw_background_img' />
	</div>
	<div class='main_container'>
		<div class='otw_main'>
			<div class='main_head'>
				<div class='logo'>
					<div class='logo_img'><img src='/static/images/800.jpg' /></div>
					<div class='logo_text'>
						<div class='logo_ZN'>在路上</div>
						<div class='logo_EN'>ON THE WAY</div>
					</div>
				</div>
			</div>
			<div class='main_left'></div>
			<div class='main_right'>
				<div class='form_item'>
					<label class='ui_placeholder' for='userAccount' >Enter Your Dreams Account</label>
					<input class='ui_textinput' type='text' id='userAccount' />
				</div>
				<div class='form_item'>
					<label class='ui_placeholder' for='userPassWord' >Enter Your Dreams PassWord</label>
					<input class='ui_textinput' type='password' id='userPassWord' />
				</div>
				<div class='form_item'>
					<button class='ui_btn ui_login' type='submit'></button>
				</div>
				<div class='option_item'>
					<a href='javascript:;'>忘记密码</a><span>|</span><a href='javascript:;'>注册账号</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>